// Responsive Props

// Props for screen size from previous to 768px
@media (max-width: 1080px){
    nav {
        height: 7vh !important;

        .container {
            display: flex;
            justify-content: space-between;

            .navbar-brand {
                padding-top: 8px !important;
                font-size: 1.2rem !important;

                .img {
                    height: 40px !important;
                    width: 40px !important;
                    padding-bottom: 8px !important;
                }
            }


        }
    } 
    
    #outputField {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);

    }

    .thisMonth {
        margin: auto 2vw !important;
        padding: 2vh 2vw !important;
        font-size: 1rem;
        width: auto !important;
    }

    .footer {
        font-size: 1rem !important;
    }

}

// Props for screen size from previous to 1024px
// @media (max-width: 1024px){
//     nav {
//         margin: 0;
//         padding: 0;
//         height: 7vh !important;
//         width: 100% !important;
//         font-weight: bold !important;
//         position: sticky !important;
//         top: 0 !important;
//         z-index: 100;
//         box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
//         overflow: visible;

//         .container {
//             display: flex;
//             justify-content: space-between;

//             .navbar-brand {
//                 padding-top: 8px !important;
//                 cursor: pointer;
//                 text-shadow: 3px 3px 3px #b6b3b3cb;
//                 font-size: 1.5rem !important;

//                 .img {
//                     height: 40px !important;
//                     width: 40px !important;
//                     padding-bottom: 8px !important;
//                 }
//             }


//         }
//     } 
    
//     #outputField {
//         width: 100% !important;
//         display: grid !important;
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: repeat(6, 1fr);

//     }

//     .thisMonth {
//         margin: auto 2vw !important;
//         padding: 2vh 2vw !important;
//         font-size: 1rem;
//         width: auto !important;
//     }

// }
