
body {
    background-color: #f4f4f4 !important;
    font-size: 16px;
    height: 100%;
    width: 100%;
    position: initial;

}

nav {
    margin: 0;
    padding: 0;
    height: 10vh !important;
    width: 100% !important;
    font-weight: bold !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: visible;

    .container {
        display: flex;
        justify-content: space-between;

        .navbar-brand {
            padding-top: 8px !important;
            cursor: pointer;
            text-shadow: 3px 3px 3px #b6b3b3cb;
            font-size: 2rem !important;

            .img {
                height: 40px !important;
                width: 40px !important;
                padding-bottom: 8px !important;
            }
        }


    }
}

#modalBody {
    ul > *{
        margin-top: 10px !important;
        padding: 3px !important;
    }
}



.allMonths{
    width: 100vw !important;
    max-width: 100%;
}

.thisMonth{
    margin: 0 !important;
    margin-left: 7px !important;
    margin-top: 3vh !important;
    padding: 3px !important;
    width: 32vw !important;
}



#outputField {
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.date {
    margin-top: 4px !important;
    margin-left: 4px !important;
    border-radius: 4px;
    animation-name: appear;
    animation-duration: 3s;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    &:nth-child(7n) {
        background-color: rgba(255, 68, 0, 0.699) !important;
    }
}

.daysAndDate{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border-radius: 5px !important;
}

@import 'animation';

@import 'responsiveProps';